/* screen - user-html */

.user-html {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 832px;
  padding: 58.0px 52.5px;
  width: 1280px;
}

.user-html .arrow-2 {
  align-self: flex-start;
  height: 22px;
  width: 64px;
}

.user-html .vector {
  height: 80px;
  margin-top: 122px;
  width: 80px;
}

.user-html .user-ai-name {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4.0px;
  margin-top: 16px;
  min-height: 90px;
  text-align: center;
  width: 438px;
}

.user-html .text-71 {
  margin-left: 4.0px;
  margin-top: 27px;
  min-height: 40px;
  width: 142px;
}

.user-html .text-69 {
  margin-left: 3.0px;
  margin-top: 9px;
  min-height: 40px;
  width: 245px;
}

.user-html .text-70 {
  margin-left: 3.0px;
  margin-top: 9px;
  min-height: 40px;
  width: 419px;
}

.user-html .button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 5.0px;
  margin-top: 28px;
  min-width: 117px;
}

.user-html .overlap-group {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 10px;
  display: flex;
  height: 48px;
  min-width: 115px;
}

.user-html .text-72 {
  min-height: 41px;
  width: 115px;
}

.user-html .text {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
